# Environment variables
.env
*.env

# Streamlit secrets
.streamlit/secrets.toml

preprocessed_images/
archive (1)/ 

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (if too large for GitHub)

*.pb